# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Output
deploy/

# IDE / System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
